## Palabras

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [6]:
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Crea una nueva lista que contenga 5 o más letras**

In [12]:
words2 = list()

for word in words:
    if(len(word) >= 5):
        words2.append(word)
print(words2)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Imprime la primera palabra que empiece por 't'**

In [15]:
switcher = 1
for i in words:
    if(i.startswith('t') & (switcher == 1)):
        print(i)
        switcher = 0

theatre

In [16]:
for i in words:
    if(i.startswith('t')):
        print(i)
        break

theatre

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [17]:
numbers = list()
for i in range(1, 11):
    numbers.append(i * i)
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [19]:
numbers2 = list()
for i in range(1, 11):
    if(i%2 == 1):
        numbers2.append(i*i)
print(numbers2)

[1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [22]:
numbers3 = list()
for i in range(0, 1000, 8):
    numbers3.append(i * i)
len(numbers3)

125

In [24]:
number3 = list()
counter = 0
num = 8
while(num * counter < 1000):
    number3.append(num * counter ** 2)
    counter += 1
len(numbers3)

125

## People

In [6]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [8]:
print(f"Hay {len(people)} personas con hijos")

Hay 5 personas con hijos

**Cuanta gente tiene hijos**?

In [9]:
counter = 0
for i in people:
    if(i["n_kids"] > 0):
        counter += 1
print(f"Las personas tienen en total {counter} hijos")

Las personas tienen en total 4 hijos

**Cuantos hijos tienen en total?**

In [38]:
counter = 0
for i in people:
    if(i["n_kids"] > 0):
        counter += i["n_kids"]
print(f"Las personas en total tienen {counter} hijos")

Las personas en total tienen 10 hijos

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [14]:
people_with_a = list()

for i in people:
    if(i['name'].endswith('a')):
        temp = i.copy()
        temp['n_kids'] += 1
        people_with_a.append(temp)
    else:
        people_with_a.append(i.copy())

In [15]:
people_with_a

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 2},
 {'name': 'Lucía', 'age': 22, 'n_kids': 3},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]

In [16]:
people

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 1},
 {'name': 'Lucía', 'age': 22, 'n_kids': 2},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]